table, th, td {
    border: 1px solid #000;
    text-align: center
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-size: 30px
}

td {
    font-size: 23px;
    padding: 10px
}

.button {
    border: none;
    text-align: center;
    padding: 6px 54px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px
}

#generateButton.button {
    padding: 12px 84px;
}

